/* base */
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	color: var(--body-color);
	// margin: var(--header-height) 0 0 0;
	font-size: var(--normal-font-size);
	transition: 0.5s;
	font-family: var(--body-font);
	background-color: var(--white-color);
	overflow-x: hidden;

	&.no-scroll {
		overflow: hidden;
	}
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

ul {
	list-style: none;
}

a,
span {
	display: inline-block;
}

a {
	text-decoration: none;
}

img {
	height: auto;
	display: block;
	max-width: 100%;
	object-fit: cover;
}

input {
	border: none;
	outline: none;
	background: none;
}

button {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}

/* base classes */
.link-label {
	position: relative;
	color: var(--body-color);
	font-size: var(--h3-font-size);
	transition: 0.4s;
	font-weight: var(--font-light);
	text-transform: uppercase;
	overflow: hidden;

	&:hover {
		&:before {
			height: 100%;
		}
	}

	&::before {
		content: '';
		left: 0;
		bottom: 0;
		width: 100%;
		height: 10px;
		position: absolute;
		transition: 0.4s;
		background-color: var(--secondary-color-alpha);
	}
}

.section {
	position: relative;
	padding: 4.688rem 0;

	&__navigation {
		display: flex;
		align-items: center;
		transition: 0.3s;

		&-count,
		&-name {
			font-size: var(--h4-font-size);
		}

		&-count {
			font-weight: var(--font-light);
		}

		&-line {
			opacity: 0.6;
			background: var(--border-color);
			transition: 0.4s;
		}

		&-name {
			font-weight: var(--font-bold);
			text-transform: uppercase;
		}
	}
}

.menu {
	&__list {
		display: flex;
		column-gap: 1rem;
		align-items: center;
	}

	&__link {
		color: var(--text-color);
		padding: 0.625rem;
		transition: 0.4s;
		font-weight: var(--font-light);

		&:hover {
			color: var(--body-color);
		}

		&.active-link {
			color: var(--body-color);
			text-decoration: underline;
		}
	}

	&__toggle {
		color: var(--body-color);
		display: none;
		padding: 0.3rem;
		font-size: 1.3rem;
		transition: 0.4s;
		align-items: center;
		justify-content: center;
	}
}
