/* breadcrumbs */
.breadcrumbs {
	&__list {
		display: flex;
		align-items: center;
		column-gap: 0.25rem;
	}

	&__item {
		display: flex;
		align-items: center;
		column-gap: 0.25rem;
		color: var(--text-color);
	}

	&__link {
		display: flex;
		align-items: center;
		column-gap: 0.25rem;
		color: var(--text-color);
		transition: 0.4s;

		&:hover {
			&:not(.active-breadcrumbs-link) {
				color: var(--body-color);
			}
		}

		&.active-breadcrumbs-link {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			overflow: hidden;
			color: var(--body-color);
			text-decoration: underline;
		}
	}
}
