/* catalog */
.catalog {
	padding-bottom: 9.375rem;

	&__wrapper {
		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(6, 1fr);
		gap: 1.875rem;

		@media screen and (max-width: 968px) {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 0.5rem;
	}

	&__title {
		text-transform: uppercase;
		font-weight: var(--font-medium);
		font-size: var(--big-font-size);
	}

	&__icon {
		display: none;
		font-size: var(--big-font-size);
		transition: 0.4s;
	}

	&__list {
		display: grid;
		row-gap: 1rem;
		margin-top: 1.875rem;
		justify-content: flex-start;
	}

	&__link {
		color: var(--body-color);
		font-weight: var(--font-light);
		transition: 0.4s;

		&:hover {
			color: var(--text-color);
		}
	}

	@media screen and (max-width: 1100px) {
		padding-bottom: 7rem;
	}

	@media screen and (max-width: 576px) {
		padding-bottom: 4rem;

		&__wrapper {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			row-gap: 0.875rem;
		}

		&__menu {
			&.catalog-open {
				.catalog__icon {
					transform: rotate(-180deg);
				}
			}
		}

		&__header {
			padding: 1rem 0;
		}

		&__list {
			height: 0;
			margin: 0;
			overflow: hidden;
			transition: 0.4s;
		}

		&__icon {
			display: inline-block;
		}
	}
}
