/* header */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: var(--z-fixed);
	transition: 0.5s;
	background-color: rgba(#ffffff, 0.8);

	&.scroll-header {
		box-shadow: 0 0 4px rgba(#222222, 0.15);
		background-color: rgba(#ffffff, 0.95);

		& .nav {
			height: calc(var(--header-height) - 1rem);
		}
	}
}

/* nav */
.nav {
	position: relative;
	height: var(--header-height);
	display: flex;
	transition: 0.4s;
	align-items: center;

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 128px;
		height: 56px;

		&.show-logo {
			position: relative;
			z-index: 110;
		}

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		column-gap: 1.875rem;
	}

	&__btn {
		color: var(--text-color);
		font-size: 1.25rem;
		transition: 0.4s;
		position: relative;

		&::after {
			content: '';
			left: 50%;
			bottom: -0.125rem;
			opacity: 0;
			width: 0.25rem;
			height: 0.25rem;
			display: inline-block;
			position: absolute;
			border-radius: 50%;
			background-color: var(--body-color);
			transform: translateX(-50%);
			transition: 0.4s;
		}

		&.active-nav-btn {
			color: var(--body-color);

			&::after {
				opacity: 1;
			}
		}

		&:hover {
			color: var(--body-color);
		}
	}

	@media screen and (min-width: 768px) {
		justify-content: space-between;
	}

	@media screen and (max-width: 768px) {
		justify-content: normal;
		column-gap: 15%;

		&__menu {
			position: fixed;
			top: 0;
			left: -100%;
			width: 80%;
			height: 100%;
			z-index: var(--z-fixed);
			padding: 2.5rem 0;
			transition: 0.4s;
			display: flex;
			box-shadow: 0 0 4px rgba(#222222, 0.15);
			align-items: center;
			justify-content: center;
			background-color: var(--white-color);

			&.show-menu {
				left: 0;
			}
		}

		&__list {
			row-gap: 1rem;
			flex-direction: column;
		}

		&__actions {
			margin-left: auto;
		}
	}

	@media screen and (max-width: 460px) {
		column-gap: 5%;
	}

	@media screen and (max-width: 340px) {
		&__actions {
			column-gap: 1rem;
		}
	}
}
