/* header */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: var(--z-fixed);
	transition: 0.5s;
	background-color: rgba(#ffffff, 0.8);

	&.scroll-header {
		box-shadow: 0 0 4px rgba(#222222, 0.15);
		background-color: rgba(#ffffff, 0.95);

		& .nav {
			height: calc(var(--header-height) - 1rem);
		}
	}
}

/* nav */
.nav {
	height: var(--header-height);
	display: flex;
	transition: 0.4s;
	align-items: center;

	&__logo {
		width: 128px;
		height: 56px;

		&.show-logo {
			position: relative;
			z-index: 110;
		}

		& img {
			width: 100%;
			height: 100%;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		column-gap: 1.875rem;
	}

	&__btn {
		color: var(--text-color);
		font-size: 1.25rem;
		transition: 0.4s;

		&:hover {
			color: var(--body-color);
		}
	}
}
