/* Media Queries */
@media screen and (max-width: 1900px) {
	.home__img {
		right: -100px;
	}
}

@media screen and (min-width: 1900px) {
	.home__img {
		width: 40%;
	}
}

@media screen and (max-width: 1200px) {
	.section {
		&__navigation {
			margin-bottom: 1.25rem;

			&-count {
				margin-right: 0.625rem;
			}

			&-line {
				width: 150px;
				height: 1px;

				@media screen and (max-width: 576px) {
					width: 80px;
				}
			}

			&-name {
				margin-left: 1.875rem;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.section {
		&__navigation {
			position: absolute;
			top: 240px;
			left: 4%;
			writing-mode: vertical-rl;
			transform: rotate(180deg);

			&-count {
				margin-bottom: 0.625rem;
			}

			&-line {
				width: 1px;
				height: 150px;

				@media screen and (max-width: 576px) {
					height: 80px;
				}
			}

			&-name {
				margin-top: 1.875rem;
			}
		}
	}

	.featured__navigation,
	.blog__navigation {
		top: 80px;
	}

	.home__navigation {
		top: 50%;
		transform: rotate(180deg) translateY(50%);
	}
}

@media screen and (max-width: 1100px) {
	.section {
		padding: 4rem 0;
	}

	.home {
		&__img {
			width: 75%;
			right: -320px;
		}
	}

	.tranding {
		padding-top: 7rem;
	}

	.products__wrapper,
	.blog__wrapper {
		justify-content: center;
		grid-template-columns: repeat(2, minmax(150px, 45%));
	}

	.offer {
		&__card {
			&-left {
				background-position: left -1.75rem top 50%;
			}
			&-right {
				background-position: right 0 top 50%;
			}
		}
	}

	.blog__wrapper {
		row-gap: 2.5rem;
	}

	.catalog {
		padding-bottom: 7rem;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		max-width: 968px;
	}

	.subscribe {
		&__img {
			&-left {
				left: -4rem;
			}

			&-right {
				right: -3rem;
			}
		}
	}
}

@media screen and (max-width: 968px) {
	.products {
		&__btn {
			&-icon {
				font-size: 0.9rem;
			}
		}
	}

	.offer {
		&__wrapper {
			justify-content: center;
			grid-template-rows: repeat(2, 200px);
			grid-template-columns: 500px;
		}

		&__card {
			&-left {
				background-position: left 0rem top 50%;
			}

			&-right {
				background-position: right 0rem top 50%;
			}
		}
	}

	.catalog {
		&__wrapper {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}
	}

	.footer {
		&__wrapper {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			row-gap: 2.5rem;
		}

		& .info {
			grid-column: 1 / -1;
		}
	}
}

@media screen and (min-width: 768px) {
	.nav {
		justify-content: space-between;
	}

	.tranding {
		&__item {
			&:first-child {
				& .tranding__link {
					padding-left: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 100%;
	}

	.menu {
		&__toggle {
			display: flex;
		}
	}

	.nav {
		justify-content: normal;
		column-gap: 15%;

		&__menu {
			position: fixed;
			top: 0;
			left: -100%;
			width: 80%;
			height: 100%;
			z-index: var(--z-fixed);
			padding: 2.5rem 0;
			transition: 0.4s;
			display: flex;
			box-shadow: 0 0 4px rgba(#222222, 0.15);
			align-items: center;
			justify-content: center;
			background-color: var(--white-color);

			&.show-menu {
				left: 0;
			}
		}

		&__list {
			row-gap: 1rem;
			flex-direction: column;
		}

		&__actions {
			margin-left: auto;
		}
	}

	.home {
		&__wrapper {
			grid-template-columns: 90% 1fr;
		}

		&__img {
			width: 100%;
			right: -450px;
		}
	}

	.tranding {
		&__list {
			position: absolute;
			top: 120%;
			left: 0;
			width: max-content;
			opacity: 0;
			display: flex;
			padding: 0.5rem;
			z-index: var(--z-tooltip);
			transition: 0.4s;
			box-shadow: 0 0 4px rgba(#222222, 0.15);
			align-items: center;
			pointer-events: none;
			justify-content: center;
			background-color: var(--white-color);

			&.show-list {
				top: 100%;
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	.subscribe {
		&__img {
			display: none;
		}
	}

	.gallery {
		&__container {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(2, 200px);
		}

		&__link {
			width: 270px;
		}
	}
}

@media screen and (max-width: 576px) {
	.section {
		padding: 2rem 0;
	}

	.home {
		&__wrapper {
			grid-template-columns: 1fr;
		}

		&__description {
			margin-bottom: 2.75rem;
		}

		&__img {
			right: -240px;
		}
	}

	.tranding {
		padding-top: 4rem;
	}

	.products {
		&__wrapper {
			grid-template-columns: 0.9fr;
			row-gap: 1.875rem;
		}

		&__img {
			height: 380px;
		}
	}

	.tranding__content {
		margin-top: 2.75rem;
	}

	.offer {
		&__wrapper {
			grid-template-columns: 0.9fr;
		}

		&__card {
			&-left {
				grid-template-columns: 210px max-content;
			}
		}

		&__title {
			margin-bottom: 0.75rem;
		}
	}

	.subscribe {
		&__container {
			grid-template-rows: auto;
		}

		&__form {
			grid-template-columns: minmax(200px, 350px) minmax(50px, max-content);
			grid-template-rows: 50px;
			margin-top: 1.57rem;
		}

		&__input {
			width: 100%;
			padding: 1rem 1.5rem;
		}

		&__submit {
			padding: 1rem;

			&-text {
				display: none;
			}
		}
	}

	.blog {
		&__wrapper {
			grid-template-columns: 0.9fr;
			row-gap: 1.875rem;
		}

		&__content {
			margin-top: 1.5rem;
		}

		&__title {
			margin-bottom: 0.875rem;
		}

		&__description {
			margin-bottom: 1rem;
		}
	}

	.gallery {
		&__container {
			grid-template-rows: repeat(2, 130px);
		}

		&__link {
			width: 230px;
			height: 60px;
		}
	}

	.catalog {
		padding-bottom: 4rem;

		&__wrapper {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			row-gap: 0.875rem;
		}

		&__menu {
			&.catalog-open {
				.catalog__icon {
					transform: rotate(-180deg);
				}
			}
		}

		&__header {
			padding: 1rem 0;
		}

		&__list {
			height: 0;
			margin: 0;
			overflow: hidden;
			transition: 0.4s;
		}

		&__icon {
			display: inline-block;
		}
	}

	.footer {
		padding-top: 1.875rem;

		&__wrapper {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			row-gap: 0.875rem;
		}

		&__data {
			&.footer-open {
				.footer__icon {
					transform: rotate(-180deg);
				}
			}
		}

		& .info {
			row-gap: 0.875rem;

			&__contact {
				row-gap: 0.625rem;
			}
		}

		&__header {
			padding: 1rem 0;
		}

		&__list {
			height: 0;
			margin: 0;
			overflow: hidden;
			transition: 0.4s;
		}

		&__icon {
			display: inline-block;
		}

		&__bottom {
			padding: 1.875rem 0;
			margin-top: 2rem;
		}

		&__nav {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			row-gap: 1.875rem;
		}
	}
}

@media screen and (max-width: 460px) {
	.nav {
		column-gap: 5%;
	}

	.products__wrapper,
	.blog__wrapper {
		grid-template-columns: 1fr;
	}

	.tranding {
		&__list {
			width: 100%;
			overflow-x: auto;
			justify-content: flex-start;

			&::-webkit-scrollbar {
				height: 0.2rem;
			}
		}
	}

	.offer {
		&__wrapper {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, max-content);
		}

		&__card {
			padding: 1.5rem;
		}

		&__title {
			margin-bottom: 1.2rem;
		}
	}

	.subscribe {
		&__wrapper {
			padding: 1.5rem 1rem;
		}
	}
}

@media screen and (max-width: 340px) {
	.home {
		&__img {
			right: -200px;
		}
	}

	.offer {
		&__card {
			padding: 1rem;

			&-left {
				background-position: left -2rem top 50%;
			}

			&-right {
				background-position: right -2rem top 50%;
			}
		}
	}

	.subscribe {
		&__form {
			grid-template-columns: 1fr;
			row-gap: 1rem;
			grid-template-rows: repeat(2, 50px);
		}

		&__input {
			padding: 0.85rem;
		}

		&__submit {
			&-text {
				display: inline-block;
			}
		}
	}

	.gallery__container {
		grid-template-rows: repeat(2, 100px);
	}

	.footer {
		&__nav {
			&-list {
				display: grid;
				grid-template-columns: repeat(2, max-content);
				grid-template-rows: auto;
				gap: 0.625rem 2.5rem;
			}
		}
	}
}

/* For tall screens on mobiles y desktop */
@media screen and (min-height: 721px) {
	.home {
		height: 640px;
	}
}
