/* Media Queries */
@media screen and (max-width: 1900px) {
	.home__img {
		right: -100px;
	}
}

@media screen and (min-width: 1900px) {
	.home__img {
		width: 40%;
	}
}

@media screen and (max-width: 1200px) {
	.section {
		&__navigation {
			margin-bottom: 1.25rem;

			&-count {
				margin-right: 0.625rem;
			}

			&-line {
				width: 150px;
				height: 1px;

				@media screen and (max-width: 576px) {
					width: 80px;
				}
			}

			&-name {
				margin-left: 1.875rem;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.section {
		&__navigation {
			position: absolute;
			top: 230px;
			left: 4%;
			writing-mode: vertical-rl;
			transform: rotate(180deg);

			&-count {
				margin-bottom: 0.625rem;
			}

			&-line {
				width: 1px;
				height: 150px;

				@media screen and (max-width: 576px) {
					height: 80px;
				}
			}

			&-name {
				margin-top: 1.875rem;
			}
		}
	}

	.home__navigation {
		top: 50%;
		transform: rotate(180deg) translateY(50%);
	}
}

@media screen and (max-width: 1100px) {
	.section {
		padding: 4rem 0;
	}

	.home {
		&__img {
			width: 75%;
			right: -320px;
		}
	}

	.products__wrapper {
		justify-content: center;
		grid-template-columns: repeat(2, minmax(150px, 45%));
	}

	.offer {
		&__card {
			&-left {
				background-position: left -1.75rem top 50%;
			}
			&-right {
				background-position: right 0 top 50%;
			}
		}
	}
}

@media screen and (max-width: 1024px) and (min-width: 956px) {
	.container {
		max-width: 968px;
	}
}

@media screen and (max-width: 956px) {
	.offer {
		&__wrapper {
			justify-content: center;
			grid-template-rows: repeat(2, 200px);
			grid-template-columns: 500px;
		}

		&__card {
			&-left {
				background-position: left 0rem top 50%;
			}

			&-right {
				background-position: right 0rem top 50%;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.tranding {
		&__item {
			&:first-child {
				& .tranding__link {
					padding-left: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 100%;
	}

	.menu {
		&__toggle {
			display: flex;
		}
	}

	.nav {
		justify-content: space-between;

		&__menu {
			position: fixed;
			top: 0;
			left: -100%;
			width: 80%;
			height: 100%;
			z-index: var(--z-fixed);
			padding: 2.5rem 0;
			transition: 0.4s;
			display: flex;
			box-shadow: 0 0 4px rgba(#222222, 0.15);
			align-items: center;
			justify-content: center;
			background-color: var(--white-color);

			&.show-menu {
				left: 0;
			}
		}

		&__list {
			row-gap: 1rem;
			flex-direction: column;
		}
	}

	.home {
		&__wrapper {
			grid-template-columns: 90% 1fr;
		}

		&__img {
			width: 100%;
			right: -450px;
		}
	}

	.tranding {
		&__list {
			position: absolute;
			top: 120%;
			left: 0;
			width: 100%;
			opacity: 0;
			display: flex;
			padding: 0.5rem;
			z-index: var(--z-tooltip);
			transition: 0.4s;
			box-shadow: 0 0 4px rgba(#222222, 0.15);
			align-items: center;
			pointer-events: none;
			justify-content: center;
			background-color: var(--white-color);

			&.show-list {
				top: 100%;
				opacity: 1;
				pointer-events: auto;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.section {
		padding: 3rem 0;
	}

	.home {
		&__wrapper {
			grid-template-columns: 1fr;
		}

		&__img {
			right: -240px;
		}
	}

	.products {
		&__wrapper {
			grid-template-columns: 0.9fr;
		}

		&__img {
			height: 380px;
		}
	}

	.offer {
		&__wrapper {
			grid-template-columns: 0.9fr;
		}

		&__card {
			&-left {
				grid-template-columns: 210px max-content;
			}
		}
	}
}

@media screen and (max-width: 460px) {
	.products {
		&__wrapper {
			grid-template-columns: 1fr;
		}
	}

	.tranding {
		&__list {
			overflow-x: auto;
			justify-content: flex-start;

			&::-webkit-scrollbar {
				height: 0.2rem;
			}
		}
	}

	.offer {
		&__wrapper {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, max-content);
		}

		&__card {
			padding: 1.5rem;
		}

		&__title {
			margin-bottom: 1.2rem;
		}
	}
}

@media screen and (max-width: 340px) {
	.home {
		&__img {
			right: -200px;
		}
	}

	.offer {
		&__card {
			padding: 1rem;

			&-left {
				background-position: left -2rem top 50%;
			}

			&-right {
				background-position: right -2rem top 50%;
			}
		}
	}
}

/* For tall screens on mobiles y desktop */
@media screen and (min-height: 721px) {
	.home {
		height: 640px;
	}
}
