/* product */
.tranding {
	padding-top: 9.375rem;

	&__content {
		margin-top: 3.125rem;
	}

	&__nav {
		position: relative;
		display: flex;
		align-items: center;
	}

	&__list {
		@media screen and (max-width: 768px) {
			position: absolute;
			top: 120%;
			left: 0;
			width: 100%;
			opacity: 0;
			display: flex;
			padding: 0.5rem;
			z-index: var(--z-tooltip);
			transition: 0.4s;
			box-shadow: 0 0 4px rgba(#222222, 0.15);
			align-items: center;
			pointer-events: none;
			justify-content: center;
			background-color: var(--white-color);

			&.show-list {
				top: 100%;
				opacity: 1;
				pointer-events: auto;
			}
		}

		@media screen and (max-width: 460px) {
			overflow-x: auto;
			justify-content: flex-start;

			&::-webkit-scrollbar {
				height: 0.2rem;
			}
		}
	}

	&__item {
		white-space: nowrap;

		@media screen and (min-width: 768px) {
			&:first-child {
				.tranding__link {
					padding-left: 0;
				}
			}
		}
	}

	&__link {
		&-all {
			margin-left: auto;
		}
	}
}
