/* scrollup */
.scroll-up {
	position: fixed;
	right: 2rem;
	bottom: -20%;
	border: 1px solid transparent;
	padding: 0.4rem;
	display: flex;
	opacity: 0.9;
	color: var(--white-color);
	z-index: var(--z-tooltip);
	transition: 0.4s;
	background-color: var(--body-color);


	&.show-scroll-link {
		bottom: 4rem;
	}

	&:hover {
		opacity: 1;
		color: var(--body-color);
		border-color: var(--body-color);
		background-color: var(--white-color);

	}
}

/* scroll bar */
::-webkit-scrollbar {
	width: 0.625rem;
	background-color: var(--text-color);

	&-thumb {
		background-color: var(--body-color);
		transition: 0.4s;

		&:hover {
			background-color: lighten(#222222, 5);
		}
	}
}
