/* subscribe */
.subscribe {
	&__container {
		display: grid;
		grid-template-rows: minmax(max-content, 300px);
	}

	&__wrapper {
		position: relative;
		padding: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--bg-color);
		overflow: hidden;
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

	&__img {
		position: absolute;
		top: 0;
		bottom: 0;
		overflow: hidden;
		max-width: 200px;

		&-left {
			left: 3.125rem;
		}

		&-right {
			right: 3.75rem;
		}

		@media screen and (max-width: 1024px) {
			&-left {
				left: -4rem;
			}

			&-right {
				right: -3rem;
			}
		}

		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	&__title {
		font-size: var(--h3-font-size);
		font-weight: var(--font-medium);
		text-transform: uppercase;
		margin-bottom: 0.625rem;

		&--light {
			font-weight: var(--font-light);
		}
	}

	&__description {
		max-width: 25.75rem;
		font-style: var(--small-font-size);
		font-weight: var(--font-light);
	}

	&__form {
		display: grid;
		align-items: center;
		justify-content: space-between;
		grid-template-columns: minmax(200px, 350px) minmax(100px, max-content);
		grid-template-rows: 60px;
		column-gap: 1.875rem;
		margin-top: 2.5rem;
	}

	&__input,
	&__submit {
		height: 100%;
		padding: 0.5rem 1.875rem;
	}

	&__input {
		display: inline-flex;
		background-color: var(--white-color);
		font-weight: var(--font-light);
		border: 1px solid transparent;

		&::placeholder {
			color: var(--text-color);
			font-size: var(--small-font-size);
			font-weight: var(--font-light);
		}

		&:active,
		&:focus {
			border-color: var(--border-color);
		}

		&.invalid {
			border-color: var(--invalid-color);
		}
	}

	&__submit {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 1.25rem;
		color: var(--white-color);
		background-color: var(--body-color);
		font-weight: var(--font-light);
		transition: 0.4s;
		border: 1px solid transparent;

		&:hover {
			color: var(--body-color);
			background-color: var(--white-color);
			border-color: var(--body-color);
		}
	}

	@media screen and (max-width: 576px) {
		&__container {
			grid-template-rows: auto;
		}

		&__form {
			grid-template-columns: minmax(200px, 350px) minmax(50px, max-content);
			grid-template-rows: 50px;
			margin-top: 1.57rem;
		}

		&__input {
			width: 100%;
			padding: 1rem 1.5rem;
		}

		&__submit {
			padding: 1rem;

			&-text {
				display: none;
			}
		}
	}

	@media screen and (max-width: 460px) {
		&__wrapper {
			padding: 1.5rem 1rem;
		}
	}

	@media screen and (max-width: 340px) {
		&__form {
			grid-template-columns: 1fr;
			row-gap: 1rem;
			grid-template-rows: repeat(2, 50px);
		}

		&__input {
			padding: 0.85rem;
		}

		&__submit {
			&-text {
				display: inline-block;
			}
		}
	}
}
