/* card */
.card {
	padding-top: 2rem;

	&__title {
		font-size: var(--h3-font-size);
		font-weight: var(--font-bold);
		text-transform: uppercase;
	}

	&__subtitle {
		font-size: var(--h4-font-size);
		font-weight: var(--font-semi-bold);
	}

	&__content {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		row-gap: 2.5rem;
	}

	&-header {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1rem;

		&__left {
			display: grid;
			grid-template-columns: 0.3fr 1fr;
			grid-template-rows: 30rem;
			column-gap: 1rem;
		}

		& .slider,
		& .thumbs {
			width: 100%;
			height: 100%;

			&__wrapper {
				padding: 0.2rem 0;
			}

			&__slide {
				display: flex;
				align-items: center;
				justify-content: center;
				transition: 0.4s;

				& img {
					width: 100%;
					height: 100%;
				}
			}
		}

		& .slider {
			&__slide {
				transition: 0.4s;
				pointer-events: none;

				&-link {
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					width: 100%;
					height: 100%;

					& img {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						pointer-events: none;
					}
				}

				&.swiper-slide-active {
					pointer-events: auto;

					& img {
						pointer-events: auto;
					}
				}
			}

			&__buttons {
				position: absolute;
				right: 0;
				bottom: 0;
				padding: 0.25rem;
				display: flex;
				gap: 0.25rem;
				z-index: var(--z-tooltip);
			}

			&__btn {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0.5rem;
				font-size: 1.5rem;
				background-color: var(--white-color);
				transition: 0.4s;

				&:hover {
					color: var(--white-color);
					background-color: var(--body-color);
				}

				&:active {
					transform: scale(0.9);
				}
			}
		}

		& .thumbs {
			&__slide {
				opacity: 0.5;
				border: 0.5px solid transparent;

				&.swiper-slide-thumb-active {
					opacity: 1;
					border-color: rgba(#222222, 0.3);
				}
			}
		}

		&__right {
			padding: 1rem 0 0 1rem;
		}

		&__form {
			display: flex;
			justify-content: center;
			flex-direction: column;
			row-gap: 1.625rem;
		}
	}

	&__prices {
		display: flex;
		align-items: center;
		column-gap: 0.5rem;
	}

	&__rating {
		display: flex;
		align-items: center;
		column-gap: 0.25rem;
	}

	&__price {
		font-size: var(--h3-font-size);
		font-weight: var(--font-medium);

		&-old {
			color: var(--text-color);
			font-weight: var(--font-light);
			text-decoration: line-through;
		}
	}

	&__block {
		display: grid;
		row-gap: 0.5rem;
	}

	&__list {
		display: flex;
		align-items: center;
		column-gap: 1rem;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: var(--small-font-size);
		padding: 0.25rem 0.5rem;
		color: var(--body-color);
		background-color: var(--white-color);
		border: 1px solid rgba(#222222, 0.2);
		transition: 0.4s;
		cursor: pointer;

		&.selected {
			color: var(--white-color);
			background-color: var(--body-color);
			border-color: var(--body-color);
		}

		&:hover {
			color: var(--white-color);
			background-color: var(--body-color);
			border-color: var(--body-color);
		}
	}

	&__counter {
		display: flex;
		align-items: center;
		column-gap: 0.25rem;

		&-btn,
		&-input {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: var(--h4-font-size);
			transition: 0.4s;
		}

		&-btn {
			padding: 0.25rem;
			background-color: rgba(#efefef, 0.4);

			&:disabled {
				opacity: 0.4;
				cursor: default;
			}
		}

		&-input {
			width: 100%;
			height: 100%;
			min-width: 2rem;
			max-width: 2rem;
			text-align: center;
			-moz-appearance: textfield;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				margin: 0;
			}
		}
	}

	& .size {
		&__item {
			text-transform: uppercase;
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		column-gap: 1.625rem;
	}

	&__submit,
	&__favorites {
		display: flex;
		align-items: center;
		column-gap: 0.5rem;
		color: var(--body-color);
		padding: 0.5rem 1.625rem;
		border: 1px solid transparent;
		transition: 0.4s;
	}

	&__submit {
		color: var(--white-color);
		background-color: var(--body-color);

		&:hover {
			color: var(--body-color);
			border-color: var(--body-color);
			background-color: transparent;
		}
	}

	&__favorites {
		background-color: transparent;

		&.is-liked {
			color: var(--invalid-color);
			border-color: rgba(#ff2600, 0.08);
			background-color: rgba(#ff2600, 0.08);
		}

		&:hover {
			color: var(--invalid-color);
			background-color: rgba(#ff2600, 0.04);
		}
	}

	&-main {
		display: grid;
		align-items: flex-start;
		grid-template-columns: 1.2fr 0.8fr;
		gap: 2rem;

		&__content {
			display: grid;
			row-gap: 0.75rem;
		}

		&__title {
			font-size: var(--h4-font-size);
			font-weight: var(--font-bold);
			text-transform: uppercase;
		}
	}

	&-description {
		position: relative;

		&.open-block {
			& .card-description {
				&__link {
					&-icon {
						transform: rotate(180deg);
					}
				}
			}
		}

		&__content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			row-gap: 0.625rem;
		}

		&__text {
			height: 150px;
			line-height: 1.75rem;
			position: relative;
			overflow: hidden;
			transition: 0.4s;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				pointer-events: none;
				background: linear-gradient(
					0deg,
					var(--white-color) 0%,
					rgba(255, 255, 255, 0) 50%
				);
				transition: 0.4s;
			}

			&.open-el {
				height: 100%;

				&::after {
					opacity: 0;
				}
			}
		}

		&__link {
			display: flex;
			align-items: center;
			column-gap: 0.25rem;
			color: var(--text-color);
			transition: 0.4s;

			&:hover {
				color: var(--border-color);
			}

			&-icon {
				transition: transform 0.4s;
			}
		}
	}

	&-details {
		position: relative;

		&.open-block {
			& .card-details {
				&__link {
					&-icon {
						transform: rotate(180deg);
					}
				}
			}
		}

		&__content {
			display: flex;
			flex-direction: column;
			row-gap: 0.625rem;
		}

		&__list {
			position: relative;
			display: grid;
			row-gap: 0.5rem;
			height: 150px;
			line-height: 1.75rem;
			overflow: hidden;
			transition: 0.4s;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				pointer-events: none;
				background: linear-gradient(
					0deg,
					var(--white-color) 0%,
					rgba(255, 255, 255, 0) 50%
				);
				transition: 0.4s;
			}

			&.open-el {
				height: 100%;

				&::after {
					opacity: 0;
				}
			}
		}

		&__item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0.25rem 0.875rem;
			text-transform: lowercase;
			font-size: var(--small-font-size);
			background-color: rgba(#efefef, 0.4);

			&:nth-child(2n) {
				background-color: transparent;
				border: 0.5px solid rgba(#222222, 0.03);
			}

			&-title {
				font-weight: var(--font-semi-bold);
			}
		}

		&__link {
			display: flex;
			align-items: center;
			align-self: flex-start;
			column-gap: 0.25rem;
			color: var(--text-color);
			transition: 0.4s;

			&:hover {
				color: var(--border-color);
			}

			&-icon {
				transition: transform 0.4s;
			}
		}
	}

	&-reviews {
		display: grid;
		row-gap: 0.75rem;

		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__title {
			font-size: var(--h4-font-size);
			font-weight: var(--font-bold);
			text-transform: uppercase;
		}

		&__actions {
			display: flex;
			align-items: center;
			column-gap: 0.625rem;
		}

		&__buttons {
			display: flex;
			align-items: center;
			column-gap: 0.5rem;
		}

		&__btn {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.25rem;
			font-size: 1.25rem;
			border: 0.5px solid var(--body-color);
			background-color: var(--white-color);
			transition: 0.4s;

			&:hover {
				color: var(--white-color);
				background-color: var(--body-color);
			}

			&:active {
				transform: scale(0.9);
			}
		}

		&__add {
			display: flex;
			align-items: center;
			column-gap: 0.25rem;
			padding: 0.25rem 0.625rem;
			padding-right: 0.875rem;
			color: var(--white-color);
			background-color: var(--body-color);
			border: 0.5px solid var(--body-color);
			transition: 0.4s;

			&-icon {
				font-size: 1.25rem;
			}

			&:hover {
				color: var(--body-color);
				background-color: var(--white-color);
			}
		}

		& .slider {
			width: 100%;

			&__slide {
				display: grid;
				row-gap: 0.25rem;
				padding: 0.875rem;
				border: 0.5px solid rgba(#222222, 0.1);
				transition: 0.4s;
			}

			&__head {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			&__title {
				font-size: var(--normal-font-size);
			}

			&__text {
				font-size: var(--small-font-size);
			}

			&__date {
				color: var(--text-color);
				font-size: var(--small-font-size);
			}

			&__rating {
				display: flex;
				align-items: center;
				column-gap: 0.25rem;

				&-icon {
					font-size: var(--small-font-size);
				}
			}
		}
	}
}

.modal-card {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(#ffffff, 0.9);
	z-index: var(--z-fixed);
	pointer-events: none;
	opacity: 0;
	transition: 0.4s;

	&.open-modal {
		opacity: 1;
		pointer-events: auto;

		& .modal-card {
			&__window {
				transform: none;
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	&__window {
		width: 25rem;
		display: grid;
		row-gap: 0.75rem;
		padding: 1.5rem;
		border: 0.5px solid rgba(#222222, 0.1);
		background-color: var(--white-color);
		transform: translateY(50px);
		transition: 0.4s;
		opacity: 0;
		transition: 0.4s;
	}

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 0.625rem;
		border-bottom: 0.5px solid rgba(#222222, 0.1);
	}

	&__title {
		text-transform: uppercase;
		font-size: var(--h3-font-size);
	}

	&__subtitle {
		font-size: var(--h4-font-size);
		font-weight: var(--font-semi-bold);
	}

	&__close {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(#efefef, 0.4);
		font-size: var(--h3-font-size);
		border: 0.5px solid transparent;
		padding: 0.25rem;
		transition: 0.4s;

		&:hover {
			border-color: rgba(#222222, 0.1);
		}
	}

	&__form {
		display: grid;
		row-gap: 0.875rem;
	}

	&-rating {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-direction: row-reverse;
		column-gap: 0.25rem;

		&__input {
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 0;
			opacity: 0;
			visibility: hidden;

			&:checked ~ .modal-card-rating__label {
				opacity: 1;

				&::before {
					content: '\ebac';
				}
			}
		}

		&__label {
			font-size: 1.75rem;
			transition: 0.2s;
			cursor: pointer;

			&::before {
				transition: 0.2s;
			}

			&:hover,
			&:hover ~ .modal-card-rating__label,
			&:checked ~ .modal-card-rating__label:hover {
				color: var(--border-color);

				&::before {
					content: '\ebac';
				}
			}
		}
	}

	&__input {
		width: 100%;
		padding: 0.625rem;
		font-weight: var(--font-light);
		border: 1px solid rgba(#222222, 0.5);

		&::placeholder {
			color: var(--text-color);
			font-size: var(--small-font-size);
			font-weight: var(--font-light);
		}

		&:active,
		&:focus {
			border-color: var(--border-color);
		}

		&.invalid {
			border-color: var(--invalid-color);
		}
	}

	&__text {
		width: 100%;
		height: 8rem;
		resize: none;
		padding: 0.625rem;
		border: 1px solid rgba(#222222, 0.5);
		border-radius: 0;
		scrollbar-width: thin;

		&::placeholder {
			color: var(--text-color);
			font-size: var(--small-font-size);
			font-weight: var(--font-light);
		}

		&:active,
		&:focus {
			outline: none;
			border-color: var(--border-color);
		}
	}

	&__submit {
		padding: 0.625rem;
		color: var(--white-color);
		border: 1px solid var(--body-color);
		background-color: var(--body-color);
		transition: 0.4s;

		&:hover {
			color: var(--body-color);
			background-color: var(--white-color);
		}
	}
}

@media screen and (max-width: 1100px) {
	.card {
		&-header {
			&__right {
				padding: 1rem 0 0;
			}
		}

		&__submit,
		&__favorites {
			padding: 0.5rem 0.75rem;
		}
	}
}

@media screen and (max-width: 968px) {
	.card {
		&-header {
			&__left {
				grid-template-columns: 0.4fr 1fr;
			}

			&__right {
				padding: 1rem 0 0;
			}
		}

		&__footer {
			align-self: baseline;
			align-items: inherit;
			flex-direction: column;
			row-gap: 0.625rem;
		}

		&__submit,
		&__favorites {
			justify-content: center;
		}
	}
}

@media screen and (max-width: 768px) {
	.card {
		&-header {
			grid-template-columns: 1.3fr 1fr;
		}

		&-main {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
		}
	}
}

@media screen and (max-width: 640px) {
	.card {
		&-header {
			grid-template-rows: auto;
			grid-template-columns: 1fr;
			row-gap: 1rem;

			&__left {
				grid-template-columns: 0.4fr 1fr;
			}
		}
	}
}

@media screen and (max-width: 460px) {
	.card {
		&__content {
			margin-top: 1.25rem;
		}

		&-header {
			&__left {
				grid-template-rows: 20rem;
			}

			& .slider {
				&__btn {
					padding: 0.25rem;
				}
			}
		}

		&__list {
			flex-wrap: wrap;
			column-gap: 0.75rem;
			row-gap: 0.75rem;
		}

		&__footer {
			align-self: auto;
		}

		&__submit,
		&__favorites {
			text-align: center;
		}

		&-reviews {
			&__add {
				padding: 0.25rem;

				&-text {
					display: none;
				}
			}
		}
	}

	.modal-card {
		&__window {
			width: 90%;
		}
	}
}

@media screen and (max-width: 320px) {
	.card {
		&-header {
			&__left {
				grid-template-rows: 15rem;
			}
		}
	}

	.modal-card {
		&__window {
			padding: 0.75rem;
		}

		&__title {
			font-size: var(--h4-font-size);
		}
	}
}

@media screen and (max-width: 270px) {
	.card {
		&__footer {
			display: grid;
			justify-content: space-between;
			grid-template-columns: repeat(2, 1fr);
		}

		&__submit,
		&__favorites {
			&-text {
				display: none;
			}
		}
	}
}