/* variables */
:root {
  --header-height: 5rem;
  /* colors */
  --hue: 0;
  --sat: 0%;
  --text-color: hsl(var(--hue), var(--sat), 78%);
  --bg-color: hsl(var(--hue), var(--sat), 94%);
  --body-color: hsl(var(--hue), var(--sat), 13%);
  --border-color: hsl(var(--hue), var(--sat), 44%);
  --secondary-color-alpha: hsla(9, 100%, 50%, 0.1);
  --white-color: #fff;
  --invalid-color: hsl(9, 100%, 50%);
  --success-color: hsl(118, 50%, 50%);
  /* font and typography */
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.125rem;
  --big-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.9rem;
  --smaller-font-size: 0.75rem;
  /* font weight */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;
  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --header-height: 6rem;
    --biggest-font-size: 3.125rem;
    --big-font-size: 1.875rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.625rem;
  }
}

/* base */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  color: var(--white-color);
  background-color: var(--body-color);
}

*::selection {
  color: var(--white-color);
  background-color: var(--body-color);
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--body-color) var(--text-color);
}

body {
  color: var(--body-color);
  font-size: var(--normal-font-size);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-family: var(--body-font);
  background-color: var(--white-color);
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
}

a,
span {
  display: inline-block;
}

a {
  text-decoration: none;
}

i {
  line-height: inherit;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input {
  border: none;
  outline: none;
  background: none;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

/* preloader */
.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  color: var(--body-color);
  background-color: var(--white-color);
  -webkit-transition: var(--transition-3);
  -o-transition: var(--transition-3);
  transition: var(--transition-3);
  z-index: 999;
}

.preloader.hide {
  opacity: 0;
}

.preloader__icon {
  font-size: 2rem;
  -webkit-animation: loader 1.2s linear infinite;
          animation: loader 1.2s linear infinite;
}

@-webkit-keyframes loader {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* base classes */
.link-label {
  position: relative;
  color: var(--body-color);
  font-size: var(--h4-font-size);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  font-weight: var(--font-light);
  text-transform: uppercase;
  overflow: hidden;
}

.link-label:hover:before {
  height: 100%;
}

.link-label::before {
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  position: absolute;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: var(--secondary-color-alpha);
}

.section {
  position: relative;
  padding: 4.688rem 0;
}

.section__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 1200px) {
  .section__navigation {
    position: absolute;
    top: 240px;
    left: 4%;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .section__navigation-count {
    margin-bottom: 0.625rem;
  }
  .section__navigation-line {
    width: 1px;
    height: 150px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 576px) {
  .section__navigation-line {
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .section__navigation-name {
    margin-top: 1.875rem;
  }
}

@media screen and (max-width: 1200px) {
  .section__navigation {
    margin-bottom: 1.25rem;
  }
  .section__navigation-count {
    margin-right: 0.625rem;
  }
  .section__navigation-line {
    width: 150px;
    height: 1px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 576px) {
  .section__navigation-line {
    width: 80px;
  }
}

@media screen and (max-width: 1200px) {
  .section__navigation-name {
    margin-left: 1.875rem;
  }
}

.section__navigation-count, .section__navigation-name {
  font-size: var(--h3-font-size);
}

.section__navigation-count {
  font-weight: var(--font-light);
}

.section__navigation-line {
  opacity: 0.6;
  background: var(--border-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.section__navigation-name {
  white-space: nowrap;
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

@media screen and (max-width: 1100px) {
  .section {
    padding: 4rem 0;
  }
}

@media screen and (max-width: 576px) {
  .section {
    padding: 2rem 0;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  color: var(--text-color);
  padding: 0.625rem;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  font-weight: var(--font-light);
}

.menu__link:hover {
  color: var(--body-color);
}

.menu__link.active-link {
  color: var(--body-color);
  text-decoration: underline;
}

.menu__toggle {
  color: var(--body-color);
  display: none;
  padding: 0.3rem;
  font-size: 1.3rem;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .menu__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body {
  margin: var(--header-height) 0 0 0;
}

/* layout */
.container {
  width: 100%;
  padding: 0 1rem;
  max-width: 1142px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 968px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

/* scrollup */
.scroll-up {
  position: fixed;
  right: 2rem;
  bottom: -20%;
  border: 1px solid transparent;
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.9;
  color: var(--white-color);
  z-index: var(--z-tooltip);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: var(--body-color);
}

.scroll-up.show-scroll-link {
  bottom: 4rem;
}

.scroll-up:hover {
  opacity: 1;
  color: var(--body-color);
  border-color: var(--body-color);
  background-color: var(--white-color);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 0.625rem;
  background-color: var(--text-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--body-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2f2f2f;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.8);
}

.header.scroll-header {
  -webkit-box-shadow: 0 0 4px rgba(34, 34, 34, 0.15);
          box-shadow: 0 0 4px rgba(34, 34, 34, 0.15);
  background-color: rgba(255, 255, 255, 0.95);
}

.header.scroll-header .nav {
  height: calc(var(--header-height) - 1rem);
}

/* nav */
.nav {
  position: relative;
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 128px;
  height: 56px;
}

.nav__logo.show-logo {
  position: relative;
  z-index: 110;
}

.nav__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--text-color);
  font-size: 1.25rem;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

.nav__btn::after {
  content: '';
  left: 50%;
  bottom: -0.25rem;
  opacity: 0;
  width: 0.25rem;
  height: 0.25rem;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  background-color: var(--body-color);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.nav__btn.active-nav-btn {
  color: var(--body-color);
}

.nav__btn.active-nav-btn::after {
  opacity: 1;
}

.nav__btn:hover {
  color: var(--body-color);
}

@media screen and (min-width: 768px) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-column-gap: 15%;
            column-gap: 15%;
  }
  .nav__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    z-index: var(--z-fixed);
    padding: 2.5rem 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 0 4px rgba(34, 34, 34, 0.15);
            box-shadow: 0 0 4px rgba(34, 34, 34, 0.15);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: var(--white-color);
  }
  .nav__menu.show-menu {
    left: 0;
  }
  .nav__list {
    row-gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__actions {
    margin-left: auto;
  }
}

@media screen and (max-width: 460px) {
  .nav {
    -webkit-column-gap: 5%;
            column-gap: 5%;
  }
}

@media screen and (max-width: 340px) {
  .nav__actions {
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
}

/* intro */
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.intro__category {
  margin-top: 1.875rem;
  background-color: var(--white-color);
}

.intro__category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.875rem;
          column-gap: 0.875rem;
  overflow-x: auto;
  scrollbar-width: none;
  background-color: var(--body-color);
}

.intro__category-list::-webkit-scrollbar {
  display: none;
}

.intro__category-link {
  padding: 0.5rem 0.625rem;
  color: var(--white-color);
  font-weight: var(--font-light);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.intro__category-link:hover {
  color: var(--body-color);
  background-color: var(--white-color);
}

/* breadcrumbs */
.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
}

.breadcrumbs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
  color: var(--text-color);
}

.breadcrumbs__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
  color: var(--text-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.breadcrumbs__link:hover:not(.active-breadcrumbs-link) {
  color: var(--body-color);
}

.breadcrumbs__link.active-breadcrumbs-link {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--body-color);
  text-decoration: underline;
}

/* card */
.card {
  padding-top: 2rem;
}

.card__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.card__subtitle {
  font-size: var(--h4-font-size);
  font-weight: var(--font-semi-bold);
}

.card__content {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.5rem;
}

.card-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.card-header__left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 1fr;
      grid-template-columns: 0.3fr 1fr;
  -ms-grid-rows: 30rem;
      grid-template-rows: 30rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.card-header .slider,
.card-header .thumbs {
  width: 100%;
  height: 100%;
}

.card-header .slider__wrapper,
.card-header .thumbs__wrapper {
  padding: 0.2rem 0;
}

.card-header .slider__slide,
.card-header .thumbs__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.card-header .slider__slide img,
.card-header .thumbs__slide img {
  width: 100%;
  height: 100%;
}

.card-header .slider__slide {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  pointer-events: none;
}

.card-header .slider__slide-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.card-header .slider__slide-link img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

.card-header .slider__slide.swiper-slide-active {
  pointer-events: auto;
}

.card-header .slider__slide.swiper-slide-active img {
  pointer-events: auto;
}

.card-header .slider__buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  z-index: var(--z-tooltip);
}

.card-header .slider__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: var(--white-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.card-header .slider__btn:hover {
  color: var(--white-color);
  background-color: var(--body-color);
}

.card-header .slider__btn:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.card-header .thumbs__slide {
  opacity: 0.5;
  border: 0.5px solid transparent;
}

.card-header .thumbs__slide.swiper-slide-thumb-active {
  opacity: 1;
  border-color: rgba(34, 34, 34, 0.3);
}

.card-header__right {
  padding: 1rem 0 0 1rem;
}

.card-header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.625rem;
}

.card__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
}

.card__price {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.card__price-old {
  color: var(--text-color);
  font-weight: var(--font-light);
  text-decoration: line-through;
}

.card__block {
  display: -ms-grid;
  display: grid;
  row-gap: 0.5rem;
}

.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: var(--small-font-size);
  padding: 0.25rem 0.5rem;
  color: var(--body-color);
  background-color: var(--white-color);
  border: 1px solid rgba(34, 34, 34, 0.2);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.card__item.selected {
  color: var(--white-color);
  background-color: var(--body-color);
  border-color: var(--body-color);
}

.card__item:hover {
  color: var(--white-color);
  background-color: var(--body-color);
  border-color: var(--body-color);
}

.card__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
}

.card__counter-btn, .card__counter-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: var(--h4-font-size);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.card__counter-btn {
  padding: 0.25rem;
  background-color: rgba(239, 239, 239, 0.4);
}

.card__counter-btn:disabled {
  opacity: 0.4;
  cursor: default;
}

.card__counter-input {
  width: 100%;
  height: 100%;
  min-width: 2rem;
  max-width: 2rem;
  text-align: center;
  -moz-appearance: textfield;
}

.card__counter-input::-webkit-outer-spin-button, .card__counter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.card .size__item {
  text-transform: uppercase;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.625rem;
          column-gap: 1.625rem;
}

.card__submit, .card__favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
  color: var(--body-color);
  padding: 0.5rem 1.625rem;
  border: 1px solid transparent;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.card__submit {
  color: var(--white-color);
  background-color: var(--body-color);
}

.card__submit:hover {
  color: var(--body-color);
  border-color: var(--body-color);
  background-color: transparent;
}

.card__favorites {
  background-color: transparent;
}

.card__favorites.is-liked {
  color: var(--invalid-color);
  border-color: rgba(255, 38, 0, 0.08);
  background-color: rgba(255, 38, 0, 0.08);
}

.card__favorites:hover {
  color: var(--invalid-color);
  background-color: rgba(255, 38, 0, 0.04);
}

.card-main {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-columns: 1.2fr 0.8fr;
      grid-template-columns: 1.2fr 0.8fr;
  gap: 2rem;
}

.card-main__content {
  display: -ms-grid;
  display: grid;
  row-gap: 0.75rem;
}

.card-main__title {
  font-size: var(--h4-font-size);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.card-description {
  position: relative;
}

.card-description.open-block .card-description__link-icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card-description__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 0.625rem;
}

.card-description__text {
  height: 150px;
  line-height: 1.75rem;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.card-description__text::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--white-color)), color-stop(50%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, var(--white-color) 0%, rgba(255, 255, 255, 0) 50%);
  background: -o-linear-gradient(bottom, var(--white-color) 0%, rgba(255, 255, 255, 0) 50%);
  background: linear-gradient(0deg, var(--white-color) 0%, rgba(255, 255, 255, 0) 50%);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.card-description__text.open-el {
  height: 100%;
}

.card-description__text.open-el::after {
  opacity: 0;
}

.card-description__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
  color: var(--text-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.card-description__link:hover {
  color: var(--border-color);
}

.card-description__link-icon {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.card-details {
  position: relative;
}

.card-details.open-block .card-details__link-icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card-details__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}

.card-details__list {
  position: relative;
  display: -ms-grid;
  display: grid;
  row-gap: 0.5rem;
  height: 150px;
  line-height: 1.75rem;
  overflow: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.card-details__list::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--white-color)), color-stop(50%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, var(--white-color) 0%, rgba(255, 255, 255, 0) 50%);
  background: -o-linear-gradient(bottom, var(--white-color) 0%, rgba(255, 255, 255, 0) 50%);
  background: linear-gradient(0deg, var(--white-color) 0%, rgba(255, 255, 255, 0) 50%);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.card-details__list.open-el {
  height: 100%;
}

.card-details__list.open-el::after {
  opacity: 0;
}

.card-details__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.25rem 0.875rem;
  text-transform: lowercase;
  font-size: var(--small-font-size);
  background-color: rgba(239, 239, 239, 0.4);
}

.card-details__item:nth-child(2n) {
  background-color: transparent;
  border: 0.5px solid rgba(34, 34, 34, 0.03);
}

.card-details__item-title {
  font-weight: var(--font-semi-bold);
}

.card-details__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
  color: var(--text-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.card-details__link:hover {
  color: var(--border-color);
}

.card-details__link-icon {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.card-reviews {
  display: -ms-grid;
  display: grid;
  row-gap: 0.75rem;
}

.card-reviews__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-reviews__title {
  font-size: var(--h4-font-size);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.card-reviews__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.card-reviews__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.card-reviews__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.25rem;
  font-size: 1.25rem;
  border: 0.5px solid var(--body-color);
  background-color: var(--white-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.card-reviews__btn:hover {
  color: var(--white-color);
  background-color: var(--body-color);
}

.card-reviews__btn:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.card-reviews__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
  padding: 0.25rem 0.625rem;
  padding-right: 0.875rem;
  color: var(--white-color);
  background-color: var(--body-color);
  border: 0.5px solid var(--body-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.card-reviews__add-icon {
  font-size: 1.25rem;
}

.card-reviews__add:hover {
  color: var(--body-color);
  background-color: var(--white-color);
}

.card-reviews .slider {
  width: 100%;
}

.card-reviews .slider__slide {
  display: -ms-grid;
  display: grid;
  row-gap: 0.25rem;
  padding: 0.875rem;
  border: 0.5px solid rgba(34, 34, 34, 0.1);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.card-reviews .slider__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-reviews .slider__title {
  font-size: var(--normal-font-size);
}

.card-reviews .slider__text {
  font-size: var(--small-font-size);
}

.card-reviews .slider__date {
  color: var(--text-color);
  font-size: var(--small-font-size);
}

.card-reviews .slider__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
}

.card-reviews .slider__rating-icon {
  font-size: var(--small-font-size);
}

.modal-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: var(--z-fixed);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.modal-card.open-modal {
  opacity: 1;
  pointer-events: auto;
}

.modal-card.open-modal .modal-card__window {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 1;
  pointer-events: auto;
}

.modal-card__window {
  width: 25rem;
  display: -ms-grid;
  display: grid;
  row-gap: 0.75rem;
  padding: 1.5rem;
  border: 0.5px solid rgba(34, 34, 34, 0.1);
  background-color: var(--white-color);
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  transition: 0.4s;
}

.modal-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0.625rem;
  border-bottom: 0.5px solid rgba(34, 34, 34, 0.1);
}

.modal-card__title {
  text-transform: uppercase;
  font-size: var(--h3-font-size);
}

.modal-card__subtitle {
  font-size: var(--h4-font-size);
  font-weight: var(--font-semi-bold);
}

.modal-card__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(239, 239, 239, 0.4);
  font-size: var(--h3-font-size);
  border: 0.5px solid transparent;
  padding: 0.25rem;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.modal-card__close:hover {
  border-color: rgba(34, 34, 34, 0.1);
}

.modal-card__form {
  display: -ms-grid;
  display: grid;
  row-gap: 0.875rem;
}

.modal-card-rating {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
}

.modal-card-rating__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.modal-card-rating__input:checked ~ .modal-card-rating__label {
  opacity: 1;
}

.modal-card-rating__input:checked ~ .modal-card-rating__label::before {
  content: '\ebac';
}

.modal-card-rating__label {
  font-size: 1.75rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.modal-card-rating__label::before {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.modal-card-rating__label:hover,
.modal-card-rating__label:hover ~ .modal-card-rating__label,
.modal-card-rating__label:checked ~ .modal-card-rating__label:hover {
  color: var(--border-color);
}

.modal-card-rating__label:hover::before,
.modal-card-rating__label:hover ~ .modal-card-rating__label::before,
.modal-card-rating__label:checked ~ .modal-card-rating__label:hover::before {
  content: '\ebac';
}

.modal-card__input {
  width: 100%;
  padding: 0.625rem;
  font-weight: var(--font-light);
  border: 1px solid rgba(34, 34, 34, 0.5);
}

.modal-card__input::-webkit-input-placeholder {
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-light);
}

.modal-card__input:-ms-input-placeholder {
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-light);
}

.modal-card__input::-ms-input-placeholder {
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-light);
}

.modal-card__input::placeholder {
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-light);
}

.modal-card__input:active, .modal-card__input:focus {
  border-color: var(--border-color);
}

.modal-card__input.invalid {
  border-color: var(--invalid-color);
}

.modal-card__text {
  width: 100%;
  height: 8rem;
  resize: none;
  padding: 0.625rem;
  border: 1px solid rgba(34, 34, 34, 0.5);
  border-radius: 0;
  scrollbar-width: thin;
}

.modal-card__text::-webkit-input-placeholder {
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-light);
}

.modal-card__text:-ms-input-placeholder {
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-light);
}

.modal-card__text::-ms-input-placeholder {
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-light);
}

.modal-card__text::placeholder {
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-light);
}

.modal-card__text:active, .modal-card__text:focus {
  outline: none;
  border-color: var(--border-color);
}

.modal-card__submit {
  padding: 0.625rem;
  color: var(--white-color);
  border: 1px solid var(--body-color);
  background-color: var(--body-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.modal-card__submit:hover {
  color: var(--body-color);
  background-color: var(--white-color);
}

@media screen and (max-width: 1100px) {
  .card-header__right {
    padding: 1rem 0 0;
  }
  .card__submit, .card__favorites {
    padding: 0.5rem 0.75rem;
  }
}

@media screen and (max-width: 968px) {
  .card-header__left {
    -ms-grid-columns: 0.4fr 1fr;
        grid-template-columns: 0.4fr 1fr;
  }
  .card-header__right {
    padding: 1rem 0 0;
  }
  .card__footer {
    -ms-flex-item-align: baseline;
        align-self: baseline;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.625rem;
  }
  .card__submit, .card__favorites {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .card-header {
    -ms-grid-columns: 1.3fr 1fr;
        grid-template-columns: 1.3fr 1fr;
  }
  .card-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

@media screen and (max-width: 640px) {
  .card-header {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .card-header__left {
    -ms-grid-columns: 0.4fr 1fr;
        grid-template-columns: 0.4fr 1fr;
  }
}

@media screen and (max-width: 460px) {
  .card__content {
    margin-top: 1.25rem;
  }
  .card-header__left {
    -ms-grid-rows: 20rem;
        grid-template-rows: 20rem;
  }
  .card-header .slider__btn {
    padding: 0.25rem;
  }
  .card__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 0.75rem;
            column-gap: 0.75rem;
    row-gap: 0.75rem;
  }
  .card__footer {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
  .card__submit, .card__favorites {
    text-align: center;
  }
  .card-reviews__add {
    padding: 0.25rem;
  }
  .card-reviews__add-text {
    display: none;
  }
  .modal-card__window {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .card-header__left {
    -ms-grid-rows: 15rem;
        grid-template-rows: 15rem;
  }
  .modal-card__window {
    padding: 0.75rem;
  }
  .modal-card__title {
    font-size: var(--h4-font-size);
  }
}

@media screen and (max-width: 270px) {
  .card__footer {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .card__submit-text, .card__favorites-text {
    display: none;
  }
}

/* light gallery */
.lg-backdrop {
  background-color: var(--white-color);
}

.lg-outer .lg-counter {
  height: auto;
  font-weight: var(--font-medium);
  font-size: var(--big-font-size);
}

.lg-outer .lg-counter,
.lg-outer .lg-toolbar .lg-icon {
  color: var(--body-color);
}

.lg-outer .lg-prev, .lg-outer .lg-next {
  padding: 0.5rem;
  border: 0.5px solid transparent;
  font-size: var(--normal-font-size);
  border-radius: 0;
  color: var(--white-color);
  background-color: var(--body-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.lg-outer .lg-prev:hover, .lg-outer .lg-next:hover {
  color: var(--body-color);
  background-color: var(--white-color);
  border-color: var(--body-color);
}

.lg-outer .lg-thumb-outer {
  background-color: var(--white-color);
}

.lg-outer .lg-thumb-item {
  border-radius: 0;
  opacity: 0.5;
  border: 0.5px solid transparent;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  opacity: 1;
  border-color: rgba(34, 34, 34, 0.3);
}

/* footer */
.footer {
  padding: 3.125rem 0 0 0;
  background-color: var(--bg-color);
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 128px;
  height: 56px;
}

.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer .info {
  display: -ms-grid;
  display: grid;
  row-gap: 1.5rem;
}

.footer .info__link, .footer .info__social-link {
  color: var(--body-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.footer .info__link:hover, .footer .info__social-link:hover {
  color: var(--text-color);
}

.footer .info__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.footer .info__icon {
  font-size: 1.25rem;
}

.footer .info__contact {
  display: -ms-grid;
  display: grid;
  row-gap: 0.938rem;
}

.footer .info__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.footer__title {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: var(--font-medium);
  font-size: var(--h3-font-size);
}

.footer__icon {
  display: none;
  font-size: var(--h3-font-size);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.footer__list {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  margin-top: 1.875rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__link {
  color: var(--body-color);
  font-weight: var(--font-light);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.footer__link:hover {
  color: var(--text-color);
}

.footer__bottom {
  padding: 3.125rem 0;
  margin-top: 4.063rem;
  background-color: var(--white-color);
}

.footer__copy, .footer__nav-link {
  font-weight: var(--font-light);
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.footer__nav-link {
  color: var(--body-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.footer__nav-link:hover {
  color: var(--text-color);
}

@media screen and (max-width: 968px) {
  .footer__wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    row-gap: 2.5rem;
  }
  .footer .info {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding-top: 1.875rem;
  }
  .footer__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    row-gap: 0.875rem;
  }
  .footer__data.footer-open .footer__icon {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .footer .info {
    row-gap: 0.875rem;
  }
  .footer .info__contact {
    row-gap: 0.625rem;
  }
  .footer__header {
    padding: 1rem 0;
  }
  .footer__list {
    height: 0;
    margin: 0;
    overflow: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .footer__icon {
    display: inline-block;
  }
  .footer__bottom {
    padding: 1.875rem 0;
    margin-top: 2rem;
  }
  .footer__nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    row-gap: 1.875rem;
  }
}

@media screen and (max-width: 340px) {
  .footer__nav-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (max-content)[2];
        grid-template-columns: repeat(2, -webkit-max-content);
        grid-template-columns: repeat(2, max-content);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 0.625rem 2.5rem;
  }
}

/* modal */
.modal-favorites, .modal-cart {
  position: absolute;
  top: 110%;
  right: 0;
  width: 20rem;
  opacity: 0;
  pointer-events: none;
  padding: 1.875rem;
  border: 0.5px solid rgba(34, 34, 34, 0.1);
  background-color: var(--white-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: var(--z-tooltip);
}

.modal-favorites.open-modal, .modal-cart.open-modal {
  top: 80%;
  opacity: 1;
  pointer-events: auto;
}

.modal-favorites__wrapper, .modal-cart__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-favorites__title, .modal-cart__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  line-height: normal;
}

.modal-favorites__list, .modal-cart__list {
  max-height: 20rem;
  overflow-y: auto;
  scrollbar-width: thin;
}

.modal-favorites__list::-webkit-scrollbar, .modal-cart__list::-webkit-scrollbar {
  width: 0.313rem;
}

.modal-favorites__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
  overflow: hidden;
}

.modal-favorites__link {
  color: var(--text-color);
  font-weight: var(--font-medium);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  padding-right: 0.25rem;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid var(--bg-color);
}

.modal-favorites__link:hover {
  color: var(--border-color);
  border-color: var(--border-color);
}

.modal-favorites__link:hover .modal-favorites__link-icon {
  -webkit-transform: translateX(0.4rem);
      -ms-transform: translateX(0.4rem);
          transform: translateX(0.4rem);
}

.modal-favorites__link-count {
  padding: 0.125rem 0.25rem;
  color: var(--white-color);
  font-weight: var(--font-light);
  font-size: var(--smaller-font-size);
  background-color: var(--body-color);
}

.modal-favorites__link-icon {
  margin-left: auto;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.modal-cart {
  width: 30rem;
}

.modal-cart__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}

.modal-cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5rem;
  -webkit-column-gap: 0.938rem;
          column-gap: 0.938rem;
  background-color: rgba(239, 239, 239, 0.2);
  padding-right: 0.938rem;
  overflow: hidden;
}

.modal-cart__img {
  width: 5rem;
  height: 5rem;
}

.modal-cart__img img {
  width: 100%;
  height: 100%;
}

.modal-cart__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.938rem 0;
}

.modal-cart__content-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--body-color);
  font-size: var(--h4-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.modal-cart__content-price {
  font-size: var(--small-font-size);
  font-weight: var(--font-light);
}

.modal-cart__content-price-old {
  color: var(--text-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-light);
  text-decoration: line-through;
}

.modal-cart__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.modal-cart__counter {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-cart__counter-btn, .modal-cart__counter-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: var(--h4-font-size);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.modal-cart__counter-btn {
  padding: 0.25rem;
  background-color: rgba(239, 239, 239, 0.4);
}

.modal-cart__counter-btn:disabled {
  opacity: 0.4;
  cursor: default;
}

.modal-cart__counter-input {
  width: 100%;
  height: 100%;
  min-width: 2rem;
  max-width: 2rem;
  text-align: center;
  -moz-appearance: textfield;
}

.modal-cart__counter-input::-webkit-outer-spin-button, .modal-cart__counter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.modal-cart__delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--invalid-color);
  padding: 0.25rem;
  justify-self: center;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.modal-cart__delete:hover {
  opacity: 0.6;
}

.modal-cart__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(112, 112, 112, 0.1);
  padding-top: 1.25rem;
}

.modal-cart__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.modal-cart__amount-text {
  font-weight: var(--font-medium);
}

.modal-cart__amount-price {
  font-weight: var(--font-light);
}

.modal-cart__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.125rem;
          column-gap: 0.125rem;
  color: var(--text-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.modal-cart__link:hover {
  color: var(--body-color);
}

.modal-cart__link:hover .modal-cart__link-icon {
  -webkit-transform: translateX(0.25rem);
      -ms-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
}

.modal-cart__link-icon {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

@media screen and (max-width: 968px) {
  .modal-favorites, .modal-cart {
    right: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .modal-favorites, .modal-cart {
    top: 140%;
    right: auto;
    left: 50%;
    width: 95%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .modal-favorites.open-cart, .modal-cart.open-cart {
    top: 100%;
  }
}

@media screen and (max-width: 460px) {
  .modal-favorites, .modal-cart {
    padding: 1.25rem;
  }
  .modal-cart__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal-cart__item {
    padding-right: 0.25rem;
    min-height: 4rem;
  }
  .modal-cart__img {
    width: 4rem;
    height: 4rem;
  }
  .modal-cart__content {
    padding: 0;
  }
  .modal-cart__prices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 0.25rem;
  }
  .modal-cart__counter-input {
    min-width: 1.5rem;
  }
}

@media screen and (max-width: 340px) {
  .modal-favorites, .modal-cart {
    padding: 0.625rem;
  }
  .modal-cart__img {
    width: 3rem;
  }
}
