/* variables */
:root {
  --header-height: 5rem;
  /* colors */
  --hue: 0;
  --sat: 0%;
  --text-color: hsl(var(--hue), var(--sat), 78%);
  --bg-color: hsl(var(--hue), var(--sat), 94%);
  --body-color: hsl(var(--hue), var(--sat), 13%);
  --border-color: hsl(var(--hue), var(--sat), 44%);
  --secondary-color-alpha: hsla(9, 100%, 50%, 0.1);
  --white-color: #fff;
  /* font and typography */
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.125rem;
  --big-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.5rem;
  /* font weight */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;
  /* margenes */
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --header-height: 6rem;
    --biggest-font-size: 3.125rem;
    --big-font-size: 1.875rem;
    --h4-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.625rem;
  }
}

/* base */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--body-color);
  font-size: var(--normal-font-size);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-family: var(--body-font);
  background-color: var(--white-color);
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
}

a,
span {
  display: inline-block;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  all: unset;
  cursor: pointer;
}

/* base classes */
.link-label {
  position: relative;
  color: var(--body-color);
  font-size: var(--h3-font-size);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  font-weight: var(--font-light);
  text-transform: uppercase;
  overflow: hidden;
}

.link-label:hover:before {
  height: 100%;
}

.link-label::before {
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  position: absolute;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: var(--secondary-color-alpha);
}

.section {
  position: relative;
  padding: 4.688rem 0;
}

.section__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.section__navigation-count, .section__navigation-name {
  font-size: var(--h4-font-size);
}

.section__navigation-count {
  font-weight: var(--font-light);
}

.section__navigation-line {
  opacity: 0.6;
  background: var(--border-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.section__navigation-name {
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  color: var(--text-color);
  padding: 0.625rem;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  font-weight: var(--font-light);
}

.menu__link:hover {
  color: var(--body-color);
}

.menu__link.active-link {
  color: var(--body-color);
  text-decoration: underline;
}

.menu__toggle {
  color: var(--body-color);
  display: none;
  padding: 0.3rem;
  font-size: 1.3rem;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* layout */
.container {
  width: 100%;
  padding: 0 1rem;
  max-width: 1142px;
  margin-left: auto;
  margin-right: auto;
}

/* scrollup */
.scroll-up {
  position: fixed;
  right: 2rem;
  bottom: -20%;
  border: 2px solid transparent;
  padding: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.9;
  z-index: var(--z-tooltip);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: var(--body-color);
}

.scroll-up.show-scroll-link {
  bottom: 4rem;
}

.scroll-up__icon {
  font-size: 1.3rem;
  color: var(--white-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.scroll-up:hover {
  opacity: 1;
  border-color: var(--body-color);
  background-color: var(--white-color);
}

.scroll-up:hover .scroll-up__icon {
  color: var(--body-color);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 0.625rem;
  background-color: var(--text-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--body-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2f2f2f;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.8);
}

.header.scroll-header {
  -webkit-box-shadow: 0 0 4px rgba(34, 34, 34, 0.15);
          box-shadow: 0 0 4px rgba(34, 34, 34, 0.15);
  background-color: rgba(255, 255, 255, 0.95);
}

.header.scroll-header .nav {
  height: calc(var(--header-height) - 2rem);
}

/* nav */
.nav {
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25%;
          column-gap: 25%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav.container {
  width: auto;
}

.nav__logo {
  width: 128px;
  height: 56px;
}

.nav__logo.show-logo {
  position: relative;
  z-index: 110;
}

.nav__logo img {
  width: 100%;
  height: 100%;
}

/* home */
.home {
  height: 100vh;
  background-color: var(--bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.home__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 1fr;
      grid-template-columns: 65% 1fr;
}

.home__content {
  z-index: 5;
  position: relative;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-black);
}

.home__description {
  margin-top: 1.25rem;
  line-height: 1.75rem;
  font-weight: var(--font-light);
  margin-bottom: 3.75rem;
}

.home__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  max-height: 730px;
}

.home__img img {
  width: 100%;
  height: 100%;
}

/* product */
.products__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(350px, 1fr));
  -webkit-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 2.5rem;
}

.products__card {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
}

.products__card:hover .products__img img {
  opacity: 0.8;
}

.products__card.border {
  border: 0.5px solid rgba(34, 34, 34, 0.1);
}

.products__img {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.products__img.border-bottom::after {
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.125rem;
  position: absolute;
  background-color: var(--body-color);
}

.products__img-link {
  width: 100%;
  height: 100%;
}

.products__img img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.products__blank {
  position: absolute;
  width: 75px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--small-font-size);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.products__blank.category {
  left: 1.25rem;
  color: var(--body-color);
  bottom: 0;
  background: var(--white-color);
}

.products__blank.category:hover {
  color: var(--white-color);
  background-color: var(--body-color);
}

.products__blank.sale {
  top: 1.25rem;
  right: 1.25rem;
  color: var(--white-color);
  background: var(--body-color);
  text-transform: uppercase;
}

.products__blank.sale:hover {
  color: var(--body-color);
  background-color: var(--white-color);
}

.products__content {
  padding: 1.25rem;
  display: -ms-grid;
  display: grid;
}

.products__title {
  color: var(--body-color);
  display: block;
  font-size: var(--h4-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.188rem;
}

.products-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.products__price {
  font-size: var(--small-font-size);
  font-weight: var(--font-light);
}

.products__price-old {
  font-size: var(--smaller-font-size);
  color: var(--text-color);
  text-decoration: line-through;
}

.products__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(112, 112, 112, 0.1);
  padding-top: 0.75rem;
  margin-top: 0.625rem;
}

.products__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
          column-gap: 0.625rem;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-light);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.products__btn-icon {
  font-size: 0.75rem;
}

.products__btn-like .products__btn-icon {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.products__btn-like:hover .products__btn-icon, .products__btn-like.in-liked .products__btn-icon {
  color: #ff2600;
}

.products__btn-buy {
  text-transform: uppercase;
}

.products__btn-buy:hover {
  color: var(--border-color);
}

/* offer */
.offer__wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-rows: 300px;
      grid-template-rows: 300px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
}

.offer__card {
  height: 100%;
  display: -ms-grid;
  display: grid;
  padding: 2.813rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-size: contain;
}

.offer__card-left {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-grid-columns: 250px max-content;
      grid-template-columns: 250px -webkit-max-content;
      grid-template-columns: 250px max-content;
  background-position: left 3rem top 50%;
}

.offer__card-right {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-position: right 3rem top 50%;
}

.offer__subtitle {
  font-size: var(--normal-font-size);
  font-weight: var(--font-light);
}

.offer__title {
  font-size: var(--h4-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.875rem;
}

/* tranding */
.tranding {
  padding-top: 9.375rem;
}

.tranding__navigation {
  top: 230px;
}

.tranding__content {
  margin-top: 3.125rem;
}

.tranding__nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tranding__item {
  white-space: nowrap;
}

.tranding__link-all {
  margin-left: auto;
}

/* Media Queries */
@media screen and (max-width: 1900px) {
  .home__img {
    right: -100px;
  }
}

@media screen and (min-width: 1900px) {
  .home__img {
    width: 40%;
  }
}

@media screen and (max-width: 1200px) {
  .section__navigation {
    margin-bottom: 1.25rem;
  }
  .section__navigation-count {
    margin-right: 0.625rem;
  }
  .section__navigation-line {
    width: 150px;
    height: 1px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 576px) {
  .section__navigation-line {
    width: 80px;
  }
}

@media screen and (max-width: 1200px) {
  .section__navigation-name {
    margin-left: 1.875rem;
  }
}

@media screen and (min-width: 1200px) {
  .section__navigation {
    position: absolute;
    top: 230px;
    left: 4%;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .section__navigation-count {
    margin-bottom: 0.625rem;
  }
  .section__navigation-line {
    width: 1px;
    height: 150px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 576px) {
  .section__navigation-line {
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .section__navigation-name {
    margin-top: 1.875rem;
  }
  .home__navigation {
    top: 50%;
    -webkit-transform: rotate(180deg) translateY(50%);
        -ms-transform: rotate(180deg) translateY(50%);
            transform: rotate(180deg) translateY(50%);
  }
}

@media screen and (max-width: 1100px) {
  .section {
    padding: 4rem 0;
  }
  .home__img {
    width: 75%;
    right: -320px;
  }
  .products__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (minmax(150px, 45%))[2];
        grid-template-columns: repeat(2, minmax(150px, 45%));
  }
  .offer__card-left {
    background-position: left -1.75rem top 50%;
  }
  .offer__card-right {
    background-position: right 0 top 50%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 956px) {
  .container {
    max-width: 968px;
  }
}

@media screen and (max-width: 956px) {
  .offer__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: (200px)[2];
        grid-template-rows: repeat(2, 200px);
    -ms-grid-columns: 500px;
        grid-template-columns: 500px;
  }
  .offer__card-left {
    background-position: left 0rem top 50%;
  }
  .offer__card-right {
    background-position: right 0rem top 50%;
  }
}

@media screen and (min-width: 768px) {
  .tranding__item:first-child .tranding__link {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .menu__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    z-index: var(--z-fixed);
    padding: 2.5rem 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 0 4px rgba(34, 34, 34, 0.15);
            box-shadow: 0 0 4px rgba(34, 34, 34, 0.15);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: var(--white-color);
  }
  .nav__menu.show-menu {
    left: 0;
  }
  .nav__list {
    row-gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home__wrapper {
    -ms-grid-columns: 90% 1fr;
        grid-template-columns: 90% 1fr;
  }
  .home__img {
    width: 100%;
    right: -450px;
  }
  .tranding__list {
    position: absolute;
    top: 120%;
    left: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem;
    z-index: var(--z-tooltip);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 0 4px rgba(34, 34, 34, 0.15);
            box-shadow: 0 0 4px rgba(34, 34, 34, 0.15);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    pointer-events: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: var(--white-color);
  }
  .tranding__list.show-list {
    top: 100%;
    opacity: 1;
    pointer-events: auto;
  }
}

@media screen and (max-width: 576px) {
  .section {
    padding: 3rem 0;
  }
  .home__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .home__img {
    right: -240px;
  }
  .products__wrapper {
    -ms-grid-columns: 0.9fr;
        grid-template-columns: 0.9fr;
  }
  .products__img {
    height: 380px;
  }
  .offer__wrapper {
    -ms-grid-columns: 0.9fr;
        grid-template-columns: 0.9fr;
  }
  .offer__card-left {
    -ms-grid-columns: 210px max-content;
        grid-template-columns: 210px -webkit-max-content;
        grid-template-columns: 210px max-content;
  }
}

@media screen and (max-width: 460px) {
  .products__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .tranding__list {
    width: 100%;
    overflow-x: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .tranding__list::-webkit-scrollbar {
    height: 0.2rem;
  }
  .offer__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (max-content)[2];
        grid-template-rows: repeat(2, -webkit-max-content);
        grid-template-rows: repeat(2, max-content);
  }
  .offer__card {
    padding: 1.5rem;
  }
  .offer__title {
    margin-bottom: 1.2rem;
  }
}

@media screen and (max-width: 340px) {
  .home__img {
    right: -200px;
  }
  .offer__card {
    padding: 1rem;
  }
  .offer__card-left {
    background-position: left -2rem top 50%;
  }
  .offer__card-right {
    background-position: right -2rem top 50%;
  }
}

/* For tall screens on mobiles y desktop */
@media screen and (min-height: 721px) {
  .home {
    height: 640px;
  }
}
