/* variables */
:root {
	--header-height: 6rem;

	/* colors */
	--hue: 0; // Yellow: 45 | Red: 4 | Orange: 18 | Green: 118
	--sat: 0%; // Yellow: 98% | Red: 90% | Orange: 85% | Green: 50%

	--text-color: hsl(var(--hue), var(--sat), 78%); //* #c7c7c7
	--bg-color: hsl(var(--hue), var(--sat), 94%); //* #efefef
	--body-color: hsl(var(--hue), var(--sat), 13%); //* #222222
	--border-color: hsl(var(--hue), var(--sat), 44%); //* #707070
	--secondary-color-alpha: hsla(9, 100%, 50%, 0.1); //* #ff2600
	--white-color: #fff;

	/* font and typography */
	--body-font: 'Poppins', sans-serif;

	--biggest-font-size: 2.125rem;
	--big-font-size: 1.5rem;
	--h4-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.5rem;

	// responsive typography
	@media screen and (min-width: 968px) {
		--biggest-font-size: 3.125rem; // 50px
		--big-font-size: 1.875rem; // 30px
		--h4-font-size: 1.25rem; // 24px
		--h3-font-size: 1.125rem; // 18px
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.625rem;
	}

	/* font weight */
	--font-light: 300;
	--font-regular: 400;
	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;
	--font-extra-bold: 800;
	--font-black: 900;

	/* margenes */
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;

	/* z index */
	--z-tooltip: 10;
	--z-fixed: 100;
}
